doctype html

.grid-wrapper

    // Navigation/Heading

    header
        p Header

    // Hero Image

    section
        p Hero

    // 3-Up Features

    section
        p Features

    // Call Out

    section
        p Callout

    // Blog

    section
        p Blog

    // Footer

    footer
        p Footer