doctype html

//- Brian "BeastMode" Haferkamp Fix.
//- https://youtu.be/UoLTT4CIc8M
//- Check out his YoutubeChannel!!

.grid-wrapper


  header.masthead
    .masthead-inner
      .masthead-image
        img(src="https://en.gravatar.com/userimage/1378683/ce3071252efbdf8139d64d4171568f14.jpg?size=100")

      header.info-group
        h1 Scott Edmonds
        p Front-End Web Developer
  hr

  section.hero
    .hero-inner
      p Imagination and Curiosity are My Favorite Tools

  section.features
    h2 Featured Work
    .features-inner

      article.features-group
        .features-image
          img(src="https://picsum.photos/600/400?random")
        .features-title
          h3 Title 1
          a.features-link(href="#") Link

      article.features-group
        .features-image
          img(src="https://picsum.photos/600/400?random")
        .features-title
          h3 Title 2
          a.features-link(href="#") Link

      article.features-group
        .features-image
          img(src="https://picsum.photos/600/400?random")
        .features-title
          h3 Title 3
          a.features-link(href="#") Link

      article.features-group
        .features-image
          img(src="https://picsum.photos/600/400?random")
        .features-title
          h3 Title 4
          a.features-link(href="#") Link

      article.features-group
        .features-image
          img(src="https://picsum.photos/600/400?random")
        .features-title
          h3 Title 5
          a.features-link(href="#") Link

      article.features-group
        .features-image
          img(src="https://picsum.photos/600/400?random")
        .features-title
          h3 Title 6
          a.features-link(href="#") Link




